<html>
<head>
   #include("header.vm")
   <title>选择操作：</title>
</head>
	<body>
	#include("bigtitle.vm")
	<!--
	pid=$!{pid}<br/>
	-->
	<div class="panel panel-primary">
	   <div class="panel-heading">
	      <h3 class="panel-title">內置函数列表</h3>
	   </div>
	   <div class="panel-body">
	      $sysout -> System.out.println :用于将日志打到本身jvm的标准输出
			<br/>
		  $trace -> com.github.jobop.anylog.tools.Trace.trace :用于将日志打印到本工具logs目录的{pid}.log文件
			<br/>
		  $json->com.github.jobop.anylog.common.fastjson.JSON.toJSONString:用于对象转json
	   </div>
	</div>	
	<div class="panel panel-primary">
	   <div class="panel-heading">
	      <h3 class="panel-title">$!{operateClassName}   参数设置</h3>
	   </div>
	   <div class="panel-body">
				<form  class="form-horizontal" role="form" action="/dooperate.html" method="post">
					
					<input type="hidden" name="pid" value="$!{pid}" />
					<input type="hidden" name="operateClassName" value="$!{operateClassName}" />
					
					#foreach($emp in $!{fieldList})
					<div class="form-group">
				      <label for="$!{emp.fieldName}" class="col-sm-2 control-label">$!{emp.fieldName}</label>
				      <div class="col-sm-10">
				         <input type="text" class="form-control" id="$!{emp.fieldName}" name="$!{emp.fieldName}"
				            placeholder="$!esc.html($!{emp.fieldDesc})"/>
				      </div>
				   </div>
					#end
				   <div class="form-group">
				      <div class="col-sm-offset-2 col-sm-10">
				         <button type="submit" class="btn btn-default">提交</button>
				      </div>
				   </div>
				</from>
	   </div>
	</div>				
	</body>
</html>