<html>
<head>
   #include("header.vm")
   <title>请对java进程选择操作</title>
</head>
	<body>
	#include("bigtitle.vm")
	<div class="panel panel-primary">
	   <div class="panel-heading">
	      <h3 class="panel-title">请对java进程选择操作</h3>
	   </div>
	   <div class="panel-body">	
		<table class="table">
			 <tbody>  
				#foreach($emp in $!{descriptors})
					<tr>
						<td><a href="/operate.html?pid=$!{pid}&operate=$!{emp.className}">$!{emp.className}</a></td>
						<td>$!{emp.classDesc}</td>
					</tr>
				#end
			</tbody>
		</table>
		</div>
		</div>
	</body>
</html>