<a href="/menu.html">go to menu</a>     
<br/>
可操作列表如下(如果功能没有描述的，请大家自己根据类名理解操作的含义哈):<br/><br/><br/><br/><br/>
#foreach($emp in $!{descriptors})

		<a href="/operate.html?pid=$!{pid}&operate=$!{emp.className}">$!{emp.className}:$!{emp.classDesc}</a>
       
         <br/><br/><br/>
#end